.food-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    border-radius: 15px;
    box-shadow: 0 0 10px #00000015;
    transition: 0.3s;
    animation: fadeIn 1s;
}


.food-item-image {
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.food-item-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 20px;
}

.food-item-name{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    white-space: normal;
    word-break: break-word;
    margin-bottom: 10px;
}

.food-item-desc {
    flex-grow: 1;
    color: #676767;
    font-size: 12px;
    line-height: 1.4;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    margin: 0;
}

.food-item-price {
    color: black;
    font-size: 22px;
    font-weight: 500;
    margin-top: 10px;
}

.food-item-img-container {
    position: relative;
}

.food-item-img-container .add {
    width: 35px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    border-radius: 50%;
}

.food-item-counter {
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px;
    border-radius: 50px;
    background-color: white;
}

.food-item-counter img {
    width: 30px;
}